{%extends 'base.html'%}
{% block title%}
poster
{% endblock%}

{%block content%}

<style>
    img.poster1{
        width: 270px;
        height: 150px;
        object-fit: fill;
        border-radius: 5px;
        filter: drop-shadow(5px 5px 5px #222);
    }
    div{
        margin: 10px;
        text-align: right;
    }
    div.poster:nth-child(odd){
        text-align: left;
    }
</style>
<section style="margin: 50px;">
    {% for i in data%}
        <div class="poster">
            <h2>
                {{i.post_name}}
            </h2>
            <p>
                {{i.post_disc}}
            </p>
            <img class="poster1" src="{{i.post_poster}}">
        </div>
    {%endfor%}
</section>
{%endblock%}